<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta name="creator" content="Nicholas 'Gilly' Gilmore">
    <meta name="subject" content="Subject">
    <meta name="description" content=" description ">
    <title>Rooms</title>
</head>
<body>
<table>
    <tr>
        <th>Room Number</th>
        <th>Room Name</th>
        <th>Bed Info</th>
    </tr>
    <tr th:each="room:${rooms}">
        <td th:text="${room.number}">Number</td>
        <td th:text="${room.name}">Name</td>
        <td th:text="${room.info}">Info</td>
    </tr>
</table>
</body>
</html>